# Miscellaneous
*.class
*.log
*.pyc
*.swp
token_*.txt
token_*.json
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
AUTH_SESSION_FLOW.md
Doctor_ARCHITECTURE.md
SECURITY.md
SECURITY_IMPLEMENTED.md
frontend_architecture_and_ui_questions.md
frontend_code_interview_questions.md
frontend_unexpected_interview_questions.md
frontend_code_test_questions.md
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
